/*html, body*/
#header
{
    -webkit-app-region: drag;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

body
{
  background-color: #00FFFF;
}

#close, #minimize, #maximize
{
  -webkit-app-region: no-drag;
}

#main-block
{
  margin-top: 5px;
}

#message-log, #connected-users
{
  background-color: white;
}
